@import url(https://fonts.googleapis.com/css?family=Slabo+13px);

html, body{
    font-family: 'Slabo 13px', sans-serif;
    color: #FFF;
    background-image: url(../img/mobile-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #F54535;
}

.info-div h1{
    font-size: 20px;
    /*padding-left: 15px;*/
}

.info-div p{
    font-size: 10px;
    color: #FFF;
}

.validation-error{
    font-size: 16px;
    color: #FFF;
}

@media (min-width: 768px){
    html, body{
        background-image: url(../img/background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .info-div{
        width: 400px;
        margin: 0;
        float: left;

    }

    .info-div h1{
        font-size: 48px;
        color: #FFF;
    }

    #description{
        font-size: 20px;
        color: #FFF;
    }

    .container{
        margin-left: 40px;
    }

    .validation-error, .info-div p{
        font-size: 14px;
        color: #ED732D;
    }

    label{
        color: #FFF;
    }


}